.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ul {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 100vh;
    height: 30px;
}

.line {
    width: 3px;
    height: 30px;
    background-color: black;
}

.active {
    color: #FF8F8F;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.2s;
}

.pending:hover {
    color: red;
}