@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.daySelected {
    background-color: #F26458;
    border-radius: 43px;
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    width: 55px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dayMonth {
    background-color: #F2B0A0;
    border-radius: 43px;
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    width: 55px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dayMonthText {
    width: 28px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dayOff {
    background-color: #D9D9D9;
    border-radius: 43px;
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    width: 55px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}