@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.days {
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.daysText {
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 1);
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}