.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border-bottom: solid black 2px;
}

.gymName {
    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    font-weight: bold;
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
}

/* li:hover {
    box-shadow: 2px 2px grey;
} */

.inicio {
    background-color: #fffebb;
}

.inicio:hover {
    color: black;
    box-shadow: 2px 2px grey;
    transition: 0.2s;
}

.calentamiento {
    background-color: #BBFFFB;
}

.calentamiento:hover {
    color: black;
    box-shadow: 2px 2px grey;
    transition: 0.2s;
}

.rutina {
    background-color: #AEFFAC;
}

.rutina:hover {
    color: black;
    box-shadow: 2px 2px grey;
    transition: 0.2s;
}

.suscripcion {
    background-color: #FF8F8F;
}

.suscripcion:hover {
    color: black;
    box-shadow: 2px 2px grey;
    transition: 0.2s;
}

.active {
    box-shadow: 0px 3px 5px black;
    transition: 0.5 s;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-right: 25px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    border: solid red 2px;
    width: 60px;
    padding: 5px;
    position: absolute;
    top: 59px;
    right: 9px;
    background-color: white;
}