.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links {
    max-height: 400px;
    overflow-y: auto;
    width: 640px;
}
.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}