@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.MonthContainer {
    background-color: rgba(242, 100, 88, 1);
    width: 230px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Month {
    font-family: 'Roboto';
    font-style: normal;
    height: 56px;
    font-size: 25px;
    font-weight: 900;
    line-height: 56.25px;
    color: rgba(255, 255, 255, 1);
    width: 141px;
}