.calendar {
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    margin-top: 20px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .calendar {
        grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px;
    }
}