@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #d1d5db, #6b7280, #d1d5db);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: none;
  padding: 6px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d1d5db;
  color: #1f2937;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: white;
  background-color: #6b7280;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #1f2937, #164e63, #1f2937);
  }

  button {
    background-color: #155e75;
    color: white;
  }

  button:hover {
    background-color: #111827;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}